.container-fluid > div.content, .container-fluid > aside.content {
    margin: 15px 0;
}

#banner {
    margin-top: 60px;
    background-color: white;
    background-size: cover;
    /*background: url('../img/bandeau.png') no-repeat;*/
    height: 350px;
    background-size: cover;
}

header {
    /* background: #506375; */
    position: relative;
    box-shadow: 0 2px 4px rgb(180, 180, 180);
}

#banner .banner-panel h1 {
    font-size: 22px;
    background-color: rgba(147, 74, 70, 0.8);
}

#banner .banner-panel p {
    font-size: 14px;
    background-color: rgba(50, 50, 50, 0.8);
    width: 557px;
}

#banner .banner-panel {
    display: block;
    width: 570px;
    position: absolute;
    top: 40px;
    left: 70px;
    background-color: transparent;
    box-shadow: none;
    color: rgb(220, 220, 220);
}

#banner .banner-panel p, #banner .banner-panel h1 {
    padding: 8px 14px;
    margin: 0;
}

.img-banner {
    max-height: 350px;
    margin: auto;
}

div.content > .inner, aside.content > .inner {
    background-color: white;
    box-shadow: 0 0 5px rgb(150, 150, 150);
    padding: 1px 40px;
}

.social-networks > .logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.social-networks > .logos > a > img {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 0 10px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.social-networks > .logos > a > img:hover, .social-networks > .logos > a > img:focus {
    -webkit-filter: grayscale(0.2);
    filter: grayscale(0.2);
    box-shadow: -1px 1px 3px rgba(150, 150, 150, 0.39);
}

aside.content > .inner > section {
    margin-bottom: 20px;
}

aside.content > .inner > section > h1 {
    font-size: 22px;
    margin-left: -10px;
    margin-bottom: 15px;
}

section p.date {
    color: rgb(150, 150, 150);
    font-size: 13px
}

.incoming-events .today {
    font-weight: bold;
}

a.see-all span {
    transform: scale(0.8, 0.5);
    top: 2px;
}

div.content > .inner {
    padding-bottom: 25px;
}

div.content > .inner > article > .content-box > p {
    text-align: justify;
    line-height: 24px;
    /* text-indent: 40px; */
}

div.content > .inner article > h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

div.content > .inner article > h2 {
    font-size: 28px;
}

div.content > .inner article > h3 {
    font-size: 24px;
}

div.content > .inner article > h4 {
    font-size: 22px;
}

div.content > .inner article > h5 {
    font-size: 20px;
}

div.content > .inner article > h6 {
    font-size: 18px;
}

div.content > .inner article table.table-default td {
    border: 1px solid rgb(80, 80, 80);
}

div.content {
    padding-left: 15px;
    padding-right: 15px;
}

aside.content {
    padding-left: 15px;
    padding-right: 15px;
}

/*
.editable::after{
 	/* content:"\270f"; */
/*
    transform: rotate(135deg);
    display:inline-block;
    margin-left:10px;
    cursor:pointer;
    transition:all 0.15s ease-in-out;
    opacity:0;
}
*/

.edit-content {
    position: absolute;
    top: 0px;
    left: -45px;
    font-size: 26px;
    color: #2C3E50;
    opacity: 0;
    text-shadow: 0 0 3px rgb(180, 180, 180);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.editable:hover .edit-content {
    opacity: 0.9;
    text-shadow: 0 0 5px rgb(120, 120, 120);
}

.nb-of-notifs {
    position: absolute;
    top: 23px;
    left: 26px;
    background: #c3544e;
    padding: 0 4px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: calibri;
    z-index: 1;
    text-indent: 0 !important;
    color: #ffffff;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.nb-of-notifs-user {
    top: -5px;
    left: -5px;
    padding: 2px 4px;
}

.dropdown-menu > li:hover > a > .nb-of-notifs {
    left: 36px;
}

.btn-edit.btn, .btn-toggle.btn {
    padding: 5px 15px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}

.editable h1 .btn-edit.btn {
    margin-left: 10px;
}

.editable:hover .btn-edit.btn {
    opacity: 0.9;
    box-shadow: 0px 1px 3px rgb(150, 150, 150);
}

.btn-edit.btn:hover {
    opacity: 1;
    box-shadow: 0px 2px 5px rgb(50, 50, 50);
}

.dropdown-menu > li:hover > a {
    text-indent: 5px;
}

.dropdown-menu > li > a {
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.dropdown-menu > li > a > .glyphicon {
    margin-right: 5px;
}

.dropdown-menu a:hover {
    color: #fff !important;
}

.btn.btn-edit {
    position: absolute;
    top: 0;
    border-radius: 0;
    z-index: 1;
    right: 15px;
    /* border-bottom-left-radius: 5px; */
}

.create-new.btn-remove {
    right: 65px;
}

.btn-remove.trash {
    background-color: #cc4741;
    border-color: #cc4741;
}

.btn-remove.untrash {
    background-color: rgb(61, 183, 74);
    border-color: rgb(61, 183, 74);
}

.title-btn-hover.glyphicon-pencil, .title-btn-hover.glyphicon-remove, .title-btn-hover.glyphicon-ok {
    font-size: 30px !important;
    top: 7px !important;
}

#banner-content-btn.btn-edit.btn {
    right: 10px;
    top: 3px;
    position: absolute;
    border-radius: 5px;
    z-index: 5;
}

a.see-all span.glyphicon-arrow-left {
    transform: scale(0.8, 0.5) !important;
}

.glyphicon.btn-hover {
    color: rgb(150, 150, 150);
    opacity: 0.6;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    font-size: 20px;
    text-decoration: none;
}

.absolute-right {
    position: absolute;
    right: 0;
    top: 2px;
}

.glyphicon.btn-hover:hover, .glyphicon.btn-hover:focus, .glyphicon.title-btn-hover:hover, .glyphicon.title-btn-hover:focus {
    opacity: 1;
    text-decoration: none;
    color: #b7716e;
}

.glyphicon.title-btn-hover {
    color: rgb(150, 150, 150);
    opacity: 0.6;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    font-size: inherit;
    position: absolute;
    right: -15px;
    top: 2px;
    text-decoration: none;
}

h1 {
    position: relative;
}

.suppressed {
    font-size: 22px;
    font-style: italic;
    color: #b5524d;
    top: 5px !important;
    position: absolute !important;
    left: 20px;
}

.not-displayed {
    display: none !important;
}

.alert {
    position: fixed;
    top: 76px;
    left: 28%;
    width: 44%;
    text-align: center;
    z-index: 10000;
    font-size: 18px;
    /* text-shadow: 0px 0px 6px; */
    opacity: 0.8;
}

.alert-success {
    color: rgb(45, 115, 45);
    box-shadow: 0 0 6px rgba(68, 142, 75, 0.61);
}

.alert-danger {
    box-shadow: 0 0 6px rgba(142, 68, 68, 0.61);
}

.js-alert {
    opacity: 0;
    transition: box-shadow 0.1s ease-in-out;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    -moz-transition: box-shadow 0.1s ease-in-out;
    -o-transition: box-shadow 0.1s ease-in-out;
    -ms-transition: box-shadow 0.1s ease-in-out;
}

.alert:hover, .alert:focus {
    opacity: 0.95;
    cursor: pointer;
}

div.news.news-block {
    position: relative;
}

div.news.news-block #suppressed-sign {
    left: -30px;
}

span.info-hover {
    font-size: 12px;
    background-color: rgb(220, 220, 220);
    padding: 1px 6px;
    border-radius: 10px;
    cursor: pointer;
}

#team h3 {
    position: relative;
    padding-right: 10px;
}

noscript {
    text-align: center;
    display: block;
    top: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #a86e6b;
}

#pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pictures .picture-block img {
    max-width: 420px;
    margin: 15px 0;
    filter: contrast(0.7);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

#pictures .picture-block img:hover, #pictures .picture-block img:focus {
    filter: contrast(1);
}

.page-content.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fb-login-button-container {
    margin: 0 auto;
    width: 330px;
}

.fb-login-button {
    background-color: #4267B2;
    padding: 10px 0 10px 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.fb-login-button img {
    border-radius: 2px;
}

/*
Footer
 */

footer {
    background-color: #373737;
    border-top: 5px solid #5c5c5c;
    margin-top: 30px;
}

footer hr {
    border-color: #707070;
}

.footer-sub-title {
    margin-top: -3px;
    margin-right: 50px;
    border-color: #707070;
    margin-bottom: 15px;
}

footer h3 {
    font-size: 20px;
    margin-top: 35px;
}

footer p, footer a {
    font-size: 14px;
    margin: 4px 0;
    display: inline-block;
}

footer * {
    color: #c2c2c2;
}

footer .fa {
    margin-right: 10px;
}

.footer-contact {
    margin-left: 20px;
}

footer p > b, footer a > b {
    font-size: 16px;
}

footer p > a {
    margin: 0;
}

.notification-block {
    /*border:1px solid #b7716e;*/
    /*border-radius:2px;*/
    -webkit-box-shadow: 2px 2px 5px 0px #975552;
    -moz-box-shadow: 2px 2px 5px 0px #975552;
    box-shadow: 2px 2px 5px 0px #975552;
    padding: 15px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none !important;
}

.notification-block .date {
    /*text-align: right;*/
}

.dropdown-selected {
    color: #bb7e7b !important;
}

#section-contents .skill-section:not(.selected) {
    display: none;
}

.skill-titles {
    position: relative;
    border: none;
    background: none;
    display: block;
    text-align: right;
    width: 100%;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-right: 0 solid #e0e6ec;
    padding: 5px 10px;
    margin: 1px 0;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

.skill-titles.selected {
    border-right: 5px solid #c6ccd2;
    background-color: #efefef;
    box-shadow: 2px 2px 2px 0px #bfc2c5;
    z-index: 2;
}

.skill-titles:hover {
    border-right-width: 5px;
    background-color: #f5f5f5;
}

#section-titles {
    margin-top: 100px;
}

#create-skills-content {
    margin-top: 15px;
    margin-right: 10px;
    display: block;
    text-align: right;
    font-size: 26px;
}

#section-contents p {
    text-indent: 20px;
}

.written-by {
    font-style: italic;
    color: rgb(152, 155, 161);
    margin: 2px 0;
}

.written-by:last-of-type {
    margin-bottom: 5px;
}

.news-content p {
    text-align: justify;
    font-size: 16px;
    text-indent: 30px;
    line-height: 1.6em;
}

.tooltip-inner {
    max-width: 450px !important;
}

/*.content-header {*/
/*background-color: #e1fbff;*/
/*display: block;*/
/*width: 100%;*/
/*text-align: center;*/
/*box-shadow: 0 0 5px rgb(150, 150, 150);*/
/*z-index: 50;*/
/*}*/

.top-left-symbol {
    left: 25px;
    font-size: 22px;
    color: #b5524d;
    top: 7px !important;
    position: absolute !important;
}

.cutting-dots {
    font-style: italic;
    color: rgb(125, 125, 125);
}

/*.news-content > p, .news-title {*/
/*text-indent: 20px !important;*/
/*}*/

.input-error-block {
    margin-top: 5px;
    font-size: 14px;
    padding-left: 0px;
    color: rgba(212, 78, 61, 0.59);
    margin-bottom: 0;
}

.input-error {
    list-style-type: none;
}

.tag {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    display: inline-block;
    background: rgb(245, 245, 245);
    padding: 1px 4px;
    font-size: 12px;
    color: rgb(142, 142, 142);
    text-decoration: none !important;
    margin: 1px;
    /*-webkit-transition: all 0.1s ease-in-out;*/
    /*-moz-transition: all 0.1s ease-in-out;*/
    /*-ms-transition: all 0.1s ease-in-out;*/
    /*-o-transition: all 0.1s ease-in-out;*/
    /*transition: all 0.1s ease-in-out;*/
}

a.tag:hover, button.tag:hover {
    border-color: rgb(184, 184, 184);
    background: rgb(225, 225, 225);
    color: rgb(122, 122, 122);
}

.tags-block {
    min-height: 10px;
}

.section-footer > a {
    display: block;
    margin: 5px 0;
}

.section-footer > a > span.glyphicon {
    margin-right: 5px;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover {
    text-decoration: none;
    color: #895451;
}

h1 > a, h2 > a, h3 > a {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.article-item {
    margin: 25px 0;
}

/***********/

.mce-fullscreen {
    z-index: 4000 !important;
}

.list-group-item.input {
    padding: 0 !important;
}

.list-group-item.input input {
    border: none;
}

.list-group-item.tag-item:not(.selected-tag):hover {
    cursor: pointer;
    background-color: #ecf0f1;
}

.remove-tag {
    margin-left: 2px;
    cursor: pointer;
}

#tag-list-group .items {
    max-height: 250px;
    overflow-y: auto;
}

#tag-list {
    min-height: 23px;
}

.selected-tag {
    color: rgb(200, 200, 200);
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination {
    margin: 10px 0;
}

.pagination > li > a, .pagination > li > span {
    background-color: #787878;
    padding: 7px 12px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #616161;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #8a8a8a;
}

.users-list {
    list-style-type: none;
    line-height: 24px;
    font-size: 16px;

}

.user-info {
    list-style-type: none;
    font-size: 14px;
    font-style: italic;
    color: rgb(120, 120, 120);
}

.controls {
    font-size: 24px;
    padding: 0 !important;
    display: block;
    text-align: center;
}

.controls i {
    right: 10px;
    vertical-align: middle;
    color: rgb(90, 90, 90);
    opacity: 0;
    cursor: pointer;
    margin: 0 5px;
}

tr:hover .controls i {
    display: inline-block;
    opacity: 0.6;
}

.controls i:hover {
    opacity: 1 !important;
}

thead td {
    font-weight: bold;
}

.table-tag-list {
    width: 350px;
    white-space: nowrap;
    overflow-x: auto;
}

.doctor-info-table {
    max-height: 200px;
    overflow-y: auto;
}

button.add-contact {
    font-size: 20px;
    padding: 0px 10px;
}

[contenteditable="true"].contenteditable-inline br {
    display: none;
}

.user-edition-field-container input {
    font-size: 15px !important;
    /*border:none;*/
    background: transparent;
    margin-top: 1px;
    padding-left: 6px;
}

.user-edition-field-container {
    cursor: text;
}

#table-contacts{
    table-layout: fixed;
}

#table-contacts td{
    overflow: hidden;
}